
h1 {
  width:1000px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  }
h2 {
    font-size: 40px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
  }
img {
  margin-top: 20px;
  border-radius: 10px;
}
.fig {
  text-align: center;
  vertical-align: center;
}
body {
background: url("img/c1.jpg");
margin-top: 20px;
background-size: 1700px;
}
article {
  background: url("img/c4.jpg");
  background-size: 1500px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border: 15px solid #ffffff;
  margin-top: 30px;
  line-height: 10px;
}
header {
  color: rgb(0, 0, 0);
}
aside {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: 40px;
}
footer {
  margin-top: 30px;
  font-size: 40px;
}